/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: ea;
    src: url(assets/font/EA.ttf) format('truetype');
}

/* @font-face {
    font-family: rubik;
    src: url(assets/font/RubikMonoOne-Regular.ttf) format('truetype');
    font-weight: 400;
} */

html {
    background-color: #232526;
    background-image: url('assets/background2.jpg');
    background-size: 100%;
    /* background-repeat: no-repeat; */
    font-family: ea;
    font-size: 14px;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.content2 {
    display: flex;
    margin: 150px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

:host {
    font-family: ea;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.campoFiltro {
    width: 80%;
    height: 30px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    border: 1px solid #555;
    border-radius: 15px;
    display: block;
    padding: 9px 4px 9px 40px;
    font-family: ea;
}

.voltar {
    padding-bottom: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    display: flex;
    align-items: flex-end;
    background-color: #161616;
    color: white;
    font-weight: 600;
    z-index: -19999;
    padding-left: 10px;
}

.tabela {
    border-radius: 15px;
    background: #161616;
    padding: 20px;
    width: 95%;
    height: 150px;
    margin-bottom: 10px;
}

.textoGrupo {
    font-family: ea;
    color: white;
    font-size: 24px;
    text-align: center;
}

.titulo {
    font-family: ea;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #161616;
    color: white;
    font-weight: 400;
}
html, body { height: 100%; }
body { margin: 0; font-family:ea;font-size: 14px; }
.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
    font-family:ea;font-size: 14px;color: white;
}